*{
    margin: 0px;
    padding: 0px;
}
.container{
    height: 100%;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    justify-items: center;
    }

#blue{
    height: 150px;
    width: 150px;
   margin:10px ;
   padding: 2px;
    background-color: blue;
    border: black  2px;
}
#green{
    height: 150px;
    width: 150px;
   margin:10px ;
   padding: 2px;
    background-color:green;
    border: black  2px;
}
#yellow{
    height: 150px;
    width: 150px;
   margin:10px ;
   padding: 2px;
    background-color:yellow;
    border: black  2px;
}
#red{
    height: 150px;
    width: 150px;
   margin:10px ;
   padding: 2px;
    background-color: red;
    border: black  2px;
}
#grey{
    height: 150px;
    width: 150px;
   margin:10px ;
   padding: 2px;
    background-color:grey;
    border: black  2px;
}
